.container.invoice-show
  .row
    .col-12
      .card
        .card-body.p-0
          .row.p-5
            .col-md-6
              = image_tag wolf_url, class: 'nav-wolf'
            .col-md-6.text-right
              %p.font-weight-bold.mb-1= @invoice.number
              %p.text-muted
                = t('activerecord.attributes.invoice.billing_date')
                = @invoice.billing_date.strftime('%-d %b %y')
              %p.text-muted
                = t('activerecord.attributes.invoice.payment_date')
                = @invoice.payment_date.strftime('%-d %b %y')
          %hr.my-5/
          .row.pb-5.p-5
            .col-md-6
              %p.font-weight-bold.mb-4= t('activerecord.attributes.invoice.user')
              %p.mb-1= @invoice.user.full_name
              %p= @invoice.user.company
            .col-md-6.text-right
              %p.font-weight-bold.mb-4 Payment Details
              %p.mb-1
                %span.text-muted= t('activerecord.attributes.invoice.your_references')
                = @invoice.your_references
              -# %p.mb-1
              -#   %span.text-muted Payment Type:
              -#   Root
              %p.mb-1
                %span.text-muted Name:
                Addison Holbrook
          .row.p-5
            .col-md-12
              %table.table
                %thead
                  %tr
                    %th.border-0.text-uppercase.small.font-weight-bold= t('date_range').upcase
                    %th.border-0.text-uppercase.small.font-weight-bold= t('description').upcase
                    %th.border-0.text-uppercase.small.font-weight-bold= t('hours').upcase
                    %th.border-0.text-uppercase.small.font-weight-bold= t('rate').upcase
                    %th.border-0.text-uppercase.small.font-weight-bold= t('total').upcase
                %tbody
                  - @invoice.invoice_fields.each do |invoice_field|
                    %tr
                      %td= invoice_field.date_range
                      %td= invoice_field.description
                      %td= invoice_field.hours
                      %td= "#{invoice_field.rate}"
                      %td= "€ #{invoice_field.total}"
          .d-flex.flex-row-reverse.bg-dark.text-white.p-4
            .py-3.px-5.text-right
              .mb-2= t('total_with_tax').upcase
              .h2.font-weight-light
                €
                = @invoice.total_with_tax
            .py-3.px-5.text-right
              .mb-2= "#{t('tax').upcase} 21%"
              .h2.font-weight-light
                €
                = @invoice.tax
            .py-3.px-5.text-right
              .mb-2= t('total_without_tax').upcase
              .h2.font-weight-light
                €
                = @invoice.total
