<div class="col-md-6 project-container-info">
  <div class="project-card">
    <div class="col-sm-6 project-info">
      <ul>
        <h2>
          <%= project.company %>
        </h2>
        <p></p>
        <p>
          <%= project.title %>
        </p>
        <p>
          <%= project.specialty %>
        </p>
        <p>
          <%= project.employment_type  %></p>
      </ul>
    </div>
    <div class="col-sm-6 project-logo">
      <% if  project.image_company_logo.attached?%>
        <%= image_tag project.image_company_logo %>
      <% else  %>
        <%= image_tag 'logo.GIF' %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-12 project-headline">
    <p>
      <% project.headline %>
    </p>
  </div>
</div>
