<div class="col-sm-12 banner-show">
  <h1><%= @project.company.titleize %> </h1>
  <h3><%= @project.city.titleize %> </h3>
  <div class="line-project">
    &nbsp;
  </div>
  <p><%= @project.headline.titleize %> </p>
</div>
<div class="col-sm-12 company-top">
  <div class="col-sm-6 company-info-intro">
    <p>
      <ul style="list-style: none;">
        <li> <strong><%= @project.title %>  </strong>
        </li>
        <li><%= @project.specialty %> </li>
        <li><%= @project.employment_type %> </li>
        <li><%= @project.starts_at %> </li>
      </ul>
    </p>
  </div>
  <div class="col-sm-6 company-logo">
    <% if  @project.image_company_logo.attached? %>
      <%= cl_image_tag company_logo.attached.key, crop: :fill %>
    <% else  %>
      <%=  image_tag 'logo.GIF', crop: :fill %>
    <% end %>
  </div>
</div>
<div class="col-sm-12 company-middle">
  <div class="col-sm-6 map">
    <h1></h1>
  </div>
  <div class="col-sm-6 company-info">
    <p><%= @project.company_description %>
    </p>
  </div>
</div>
<div class="col-sm-12 company-bottom">
  <div class="col-sm-6 company-info">
    <p><%= @project.job_description %>
    </p>
  </div>
  <div class="col-sm-6 company-pic">
    <% if @project.image.attached? %>
      <%= cl_image_tag image.key  %>
    <% else  %>
      <%=  image_tag 'light.jpg'%>
    <% end %>
  </div>
</div>
